* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #faebd7;
  --card-text-color: #2F4858;
  --card-bg-color: #96AB9A;
}

body {
  background-color: var(--bg-color);
}

#page-title {
  font-size: 5rem;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  border-bottom: 4px solid black;
}

.library {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-left: 50px;
  width: 100vw;
  height: 400px;
  margin-top: 70px;
  background-color: #2F4858;
}

.book-card {
  display: grid;
  grid-template-rows: 80px 250px;
  row-gap: 35px;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  width: 280px;
  height: 330px;
  border: 2px solid #C8CBB4;
  border-radius: 15px;
  box-shadow: 2px 5px 10px #454641;
}

.book-title {
  font-size: 2.5rem;
  text-align: center;
  align-self: center;
  grid-area: 1 / 1 / 2 / 2;
}

.book-description {
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
  justify-self: center;
  display: grid;
  row-gap: 20px;
}

.book-field {
  text-align: center;
}

.sub-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.field-content {
  font-size: 1.4rem;
}